/* IMPORTS TODAS LAS PAGINAS */
/* MAIN INDEX*/
#main {
  width: 100%;
  height: 100%;
  margin: 0%;
  z-index: 1020px; }
  #main .text_index {
    height: fit-content;
    padding-bottom: 20px;
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 800px; }
    #main .text_index .second-tittle {
      text-align: center; }
      #main .text_index .second-tittle h2 {
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif; }
  #main .text-second-tittle {
    font-display: auto;
    text-indent: 25px;
    text-align: center;
    width: 100%;
    margin-left: 10px;
    height: fit-content; }
    #main .text-second-tittle #texto {
      font-weight: 400;
      font-family: 'Times New Roman', Times, serif; }
  #main .carousel {
    align-items: center;
    background-image: linear-gradient(to bottom, black, white); }
    #main .carousel .carousel-inner {
      display: flex;
      justify-content: center;
      align-items: center; }
    #main .carousel .carousel-item {
      max-width: 800px;
      max-height: 800px;
      width: 100%;
      height: 100%;
      text-align: center; }
  #main .marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: black;
    margin-top: 100px; }
  #main .marquee span {
    display: inline-block;
    animation: marquee 10s linear infinite;
    color: #c9c9c9;
    font-family: nos; }

@keyframes marquee {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-55.25%); } }

@media only screen and (max-width: 600px) {
  .second-tittle h2 {
    font-size: 25px; }
  #texto {
    font-size: 15px;
    text-indent: 25px; }
  .carousel img {
    width: 50%;
    height: 50%; }
  .text-second-tittle {
    font-size: 13px;
    font-weight: 250;
    word-spacing: 4px; } }

@media only screen and (min-width: 600px) {
  .second-tittle h2 {
    font-size: 40px; }
  #texto {
    font-size: 22px;
    text-indent: 50px; }
  .carousel img {
    width: 500px;
    height: 500px; }
  .text-second-tittle {
    font-weight: 300;
    word-spacing: 3px; } }

/* MAIN SUPLEMENTOS */
.grid_sup_main {
  display: grid;
  align-content: space-around;
  justify-content: center; }
  .grid_sup_main .grid_img {
    display: flex;
    align-items: center;
    justify-content: center; }
    .grid_sup_main .grid_img .sup_img {
      object-fit: cover;
      overflow: hidden; }
  .grid_sup_main .grid_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-spacing: 5px; }
    .grid_sup_main .grid_item .tittle_item {
      font-family: 'Montserrat', sans-serif; }
    .grid_sup_main .grid_item .grid_text {
      font-family: 'Montserrat', sans-serif; }

#img_uno {
  grid-area: a1; }

#texto_uno {
  grid-area: a2;
  background-color: #f6ece0; }

#img_dos {
  grid-area: a3; }

#texto_dos {
  grid-area: a4;
  background-color: greenyellow; }

#img_tres {
  grid-area: a5; }

#texto_tres {
  grid-area: a6;
  background-color: #af8f4a; }

#img_cuatro {
  grid-area: a7; }

#texto_cuatro {
  grid-area: a8;
  background-color: azure; }

#img_cinco {
  grid-area: a9; }

#texto_cinco {
  grid-area: a10;
  background-color: burlywood; }

@media only screen and (max-width: 600px) {
  /* GRID PAGINA SUPLEMENTOS */
  .grid_sup_main {
    height: 1900px;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 380px 380px 380px 380px 380px;
    grid-template-areas: "a1 a2 a2" "a3 a4 a4" "a5 a6 a6" "a7 a8 a8" "a9 a10 a10"; }
    .grid_sup_main .grid_img .sup_img {
      width: 200px;
      height: 200px;
      border-radius: 22px; }
    .grid_sup_main .grid_item {
      height: fit-content; }
      .grid_sup_main .grid_item .tittle_item {
        font-size: 22px; }
      .grid_sup_main .grid_item .grid_text {
        font-size: 15px; }
  .links_media {
    width: 7%;
    height: 7%; } }

@media only screen and (min-width: 600px) {
  /* GRID PAGINA SUPLEMENTOS */
  .grid_sup_main {
    height: 2500px;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 500px 500px 500px 500px 500px;
    grid-template-areas: "a1 a2 a2" "a3 a4 a4" "a5 a6 a6" "a7 a8 a8" "a9 a10 a10"; }
    .grid_sup_main .grid_img .sup_img {
      width: 200px;
      height: 200px;
      border-radius: 0px; }
    .grid_sup_main .grid_item .tittle_item {
      font-size: 28px; }
    .grid_sup_main .grid_item .grid_text {
      font-size: 18px; }
  #img_uno {
    background-color: #f6ece0; }
  #img_dos {
    grid-area: a3;
    background-color: greenyellow; }
  #img_tres {
    grid-area: a5;
    background-color: #af8f4a; }
  #img_cuatro {
    grid-area: a7;
    background-color: azure; }
  #img_cinco {
    grid-area: a9;
    background-color: burlywood; }
  .links_media {
    width: 7%;
    height: 7%; } }

/* Promo main grid */
#promos {
  margin: 0%;
  padding: 0%; }
  #promos .grid-promos-container {
    width: 100%;
    height: 100%; }
    #promos .grid-promos-container h2 {
      background-color: aliceblue;
      font-weight: bold;
      font-size: 40px;
      width: 100%;
      text-align: center;
      font-family: 'Times New Roman', Times, serif; }
    #promos .grid-promos-container .grid-promos {
      display: grid;
      width: 100%;
      grid-template-columns: 50% 50%;
      grid-template-rows: 300px 300px;
      grid-template-areas: "t1 t2" "t1 t3"; }
      #promos .grid-promos-container .grid-promos .img-promo-container {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex; }
        #promos .grid-promos-container .grid-promos .img-promo-container .promo-img {
          width: 70%;
          height: 80%;
          object-fit: contain;
          border-radius: 30px; }
    #promos .grid-promos-container p {
      width: 98.5%;
      height: 100%;
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 5px;
      padding-right: 5px;
      font-weight: 500;
      margin-top: 10px;
      background-color: bisque; }
  #promos .img-uno-promo {
    grid-area: t1;
    background-color: #e1e5b9; }
  #promos .img-dos-promo {
    grid-area: t2;
    background-color: beige; }
  #promos .img-tres-promo {
    grid-area: t3;
    background-color: beige; }

/* Main Recetas */
#titulo-recetas {
  font-size: 72px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.titulo-recetas {
  font-size: 35px;
  font-weight: 600;
  width: 100%;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.grid-container-recetas {
  display: grid;
  align-content: space-around;
  justify-content: center;
  width: 100%;
  height: 100%; }
  .grid-container-recetas .image-recetas-container {
    object-fit: cover;
    align-items: center;
    height: 80%;
    width: 80%; }
    .grid-container-recetas .image-recetas-container .foto-recetas {
      height: 80%;
      width: 80%;
      object-fit: cover;
      border-radius: 10px; }
  .grid-container-recetas .texto-recetas {
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: fit-content;
    display: flex;
    height: auto;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large; }
    .grid-container-recetas .texto-recetas p {
      overflow: hidden;
      width: 80%;
      height: 80%; }
  .grid-container-recetas .tabla-recetas {
    width: 70%;
    height: 70%;
    object-position: center; }
  .grid-container-recetas #video-uno-recetas {
    grid-area: t1; }
  .grid-container-recetas #texto-uno-recetas {
    grid-area: t2;
    background-color: #95d3d3; }
  .grid-container-recetas #tabla-uno-recetas {
    grid-area: t3; }
  .grid-container-recetas #video-dos-recetas {
    grid-area: t4; }
  .grid-container-recetas #texto-dos-recetas {
    grid-area: t5;
    background-color: #8e7272; }
  .grid-container-recetas #tabla-dos-recetas {
    grid-area: t6; }
  .grid-container-recetas #video-tres-recetas {
    grid-area: t7; }
  .grid-container-recetas #texto-tres-recetas {
    grid-area: t8;
    background-color: #cdcdbf; }
  .grid-container-recetas #tabla-tres-recetas {
    grid-area: t9; }

@media only screen and (max-width: 1000px) {
  .grid-container-recetas {
    grid-template-columns: 45% 45%;
    grid-template-rows: 500px 500px 500px 500px 500px 500px;
    grid-template-areas: "t1 t2" "t3 t3" "t4 t5" "t6 t6" "t7 t8" "t9 t9"; } }

@media only screen and (min-width: 1000px) {
  .grid-container-recetas {
    grid-template-columns: 30% 30% 25%;
    grid-template-rows: 400px 400px 400px;
    grid-template-areas: "t1 t2 t3" "t4 t5 t6" "t7 t8 t9"; } }

#contacto h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: 600;
  width: 100%;
  text-align: center; }

#contacto form {
  background-color: bisque; }

#contacto .texto-contacto {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500; }

#contacto h2 {
  padding-top: 25px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 39px;
  width: 100%;
  text-align: center;
  background-color: #ed9595; }

#contacto .map {
  width: 100%; }

#contacto p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: 600;
  background-color: bisque; }

/* Header */
#titulo_pagina {
  margin-top: 20px; }

#logo {
  margin-top: 2px;
  width: 60px;
  height: 60px; }

/* NAV */
.navbar-brand {
  margin-left: 10px;
  font-weight: 1000; }
  .navbar-brand .nav-conteiner {
    width: 100%;
    height: 100%;
    margin: 0; }
  .navbar-brand .navegation_menu__div {
    width: 100%;
    height: 30px; }
  .navbar-brand .navegation_menu__container_ul {
    width: 100%;
    height: 60px;
    margin: 0;
    display: flex;
    padding-inline-start: 40px;
    justify-content: space-evenly;
    align-items: center; }
  .navbar-brand .navegation__item {
    list-style-type: none;
    width: auto;
    height: auto; }
  .navbar-brand .menu {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold; }

/* Body */
* {
  margin: 0%;
  padding: 0%; }

#body_index {
  background-color: #838080;
  font-family: monospace;
  height: 100%;
  width: 100%; }

/* FOOTER */
#footer-config {
  display: flex;
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 300px;
  border-top: 5px white;
  border-style: inset; }
  #footer-config #top-fotter {
    background-color: #434242;
    width: 100%;
    height: auto; }
    #footer-config #top-fotter #div-fotter {
      height: auto;
      width: auto; }
      #footer-config #top-fotter #div-fotter #titulo_footer {
        font-size: 30px;
        text-align: center; }
        #footer-config #top-fotter #div-fotter #titulo_footer .color_footer {
          color: #fafa11; }
      #footer-config #top-fotter #div-fotter .footer {
        background-color: #434242;
        color: #d8d1d1;
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        font-size: 15px;
        text-align: center;
        font-weight: bold;
        margin: 0px; }
    #footer-config #top-fotter .bottom_footer {
      background-color: #272525;
      color: #bdb9b9; }

@media only screen and (max-width: 600px) {
  /* GRID PAGINA SUPLEMENTOS */
  .grid_sup_main {
    height: 2000px;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 200px 200px 200px 200px 200px;
    grid-template-areas: "a1 a2 a2" "a3 a4 a4" "a5 a6 a6" "a7 a8 a8" "a9 a10 a10"; }
    .grid_sup_main .grid_img .sup_img {
      width: 150px;
      height: 150px;
      border-radius: 22px; }
    .grid_sup_main .grid_item .tittle_item {
      font-size: 22px; }
    .grid_sup_main .grid_item .grid_text {
      font-size: 15px; }
  .links_media {
    width: 7%;
    height: 7%; } }

@media only screen and (min-width: 600px) {
  /* INDEX MAIN */
  .links_media {
    width: 3%;
    height: 3%; } }
