/* Promo main grid */
#promos{
    margin: 0%;
    padding: 0%;

    .grid-promos-container{
        width: 100%;
        height: 100%;

        h2{
            background-color: aliceblue;
        font-weight: bold;
        font-size: 40px;
        width: 100%;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        }

        .grid-promos{
            display: grid; 
            width: 100%;
            grid-template-columns: 50% 50%;
            grid-template-rows: 300px 300px;
            grid-template-areas:"t1 t2"
                                "t1 t3"
            ;
            .img-promo-container{
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                display: flex;
                
                .promo-img{
                    width: 70%;
                    height: 80%;
                    object-fit: contain;
                    border-radius: 30px;
                }
            }
        }
        p{
            width: 98.5%;
            height: 100%;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-left: 10px;
            margin-right: 10px;
            padding-left: 5px;
            padding-right: 5px;
            font-weight: 500;
            margin-top: 10px;
            background-color: bisque;
        }
    }
    .img-uno-promo{
        grid-area: t1;
        background-color: rgb(225, 229, 185)
    }

    .img-dos-promo{
        grid-area: t2;
        background-color: beige;
    }

    .img-tres-promo{
        grid-area: t3;
        background-color: beige;
    }
}