/* Main Recetas */
#titulo-recetas{
    font-size: 72px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.titulo-recetas{
    font-size: 35px;
    font-weight: 600;
    width: 100%;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.grid-container-recetas{
    display: grid;
    align-content: space-around;
    justify-content: center;
    width: 100%;
    height: 100%;

    .image-recetas-container{
        object-fit: cover;
        align-items: center;
        height: 80%;
        width: 80%;

        .foto-recetas{
            height: 80%;
            width: 80%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    .texto-recetas{
        font-size: medium;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: fit-content;
        display: flex;
        height: auto;

        p{
        overflow: hidden;
        width: 80%;
        height: 80%;
        }
        justify-content: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
    }
    .tabla-recetas{
        width: 70%;
        height: 70%;
        object-position: center;
    }

    #video-uno-recetas{
        grid-area: t1;
    }
    #texto-uno-recetas{
        grid-area: t2;
        background-color: rgb(149, 211, 211);
    }
    #tabla-uno-recetas{
        grid-area: t3;
    }
    #video-dos-recetas{
        grid-area: t4;
    }
    #texto-dos-recetas{
        grid-area: t5;
        background-color: rgb(142, 114, 114);
    }
    #tabla-dos-recetas{
        grid-area: t6;
    }
    #video-tres-recetas{
        grid-area: t7;
    }
    #texto-tres-recetas{
        grid-area: t8;
        background-color: rgb(205, 205, 191);
    }
    #tabla-tres-recetas{
        grid-area: t9;
    }
}
    @media only screen and (max-width:1000px){
        .grid-container-recetas{
        grid-template-columns: 45% 45%;
        grid-template-rows: 500px 500px 500px 500px 500px 500px;
        grid-template-areas:"t1 t2"
                            "t3 t3"
                            "t4 t5"
                            "t6 t6"
                            "t7 t8"
                            "t9 t9";
        }
    }
    @media only screen and (min-width:1000px){
        .grid-container-recetas{    
        grid-template-columns: 30% 30% 25%;
        grid-template-rows: 400px 400px 400px;
        grid-template-areas:"t1 t2 t3"
                            "t4 t5 t6"
                            "t7 t8 t9";
        }
    }